@model TGPBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<style>
    .full_post_img {
        max-width: 1140px;
        max-height: 480px;
    }
</style>

<!--main navigation end-->
<div style="height: 20px"></div>


<div class="container text-center">
    <a href="#">
        <img src="~/img/timbo-logo.png" />
    </a>
</div>

<hr>
<div class="space-40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10 full-width-post">
            <div class="post margin-b-40">
                <div class="post-header text-center">
                    <span class="tag"><a href="#"><i class="fa fa-tag"></i> @Model.Category</a></span>
                    <!--<h3 class="post-title"><a href="#">Lorem ipsum cogarts elit down</a></h3>-->
                    @*<h3 class="post-title"><a href="#">Lorem ipsum cogarts elit down</a></h3>*@
                    <h3 class="post-title">
                        @Html.DisplayFor(model => model.Title)
                    </h3>
                    <span class="date">
                        @*8 Nov. 2015 @Html.DisplayFor(model => model.Created)*@
                        @Model.Created.DateTime.ToLongDateString()
                    </span>
                </div><!--post header-->
                <div class="post-img">
                    <a href="#">
                        <div class="flexslider thumb-slider">
                            <ul class="slides">
                                <li>
                                    @{
                                        var bckgImg = "";
                                        if (Model.MediaURL == null)
                                        { bckgImg = @Url.Content("~/img/blog/grunge-pink-blue.jpg"); }
                                        else
                                        { bckgImg = @Url.Content(Model.MediaURL); }
                                        <img src=@bckgImg alt="Graphic for Post"
                                             class="img-responsive full-post-img" />
                                    }
                                </li>
                                <li>
                                    <img src="~/img/richard-gasquet-topspin-backhand-grip.jpg" alt="Gasquet"
                                         class="img-responsive full-post-img" />
                                </li>
                                <li>
                                    <img src="~/img/roger-federer-768x480.jpg" alt="Federer"
                                         class="img-responsive full-post-img" />
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!--post img-->
                <div class="post-entry">

                    @Model.Body

                </div><!--post entry-->

                <div class="post-meta">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="comments"><a href="#"><i class="fa fa-comments"></i> @Model.Comments.Count() Comments</a></span>
                        </div>
                        <div class="col-sm-6 text-right">

                        </div>
                    </div>
                </div><!--post meta-->
            </div><!--post end-->
            <!--about-author-->
            <!--
            <div class="media about-author">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" src="~/img/TimboCartoon.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Timbo</h4>
                    <p>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali di caratteri palesemente poco verosimili.
                        <ul class="socials list-inline clearfix">

                            <li>
                                <a href="#" class="social-icon-sm si-border-round si-gray-round si-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="social-icon-sm si-border-round si-gray-round si-g-plus">
                                    <i class="fa fa-google-plus"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                        </ul>
                </div>
            </div>
            -->
            <!--about author end-->

            <div class="space-30"></div>
            <hr>

            <!--comments-->
            @{
                string Slug = Model.Slug;
                string thisPage = Url.Action("Details", "Posts", new { slug = Slug });
            }

            <p> *************** Start of Render ************** </p>
            @Html.Partial("~/Views/Shared/_Comments.cshtml", Model);
            <p> *************** End of Render ************** </p>


        </div>

        <div class="col-md-1">
            <!-- side bar = 2 columns in template-->

        </div><!--sidebar col-->
    </div><!--/.row -->
</div>
</div>




