@model TGPBlog.Models.Post

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .xtra-btn,.xtra-btn::after,.xtra-btn:active {
            color:#ADCAAD;
        }
        .xtra-btn:hover,.xtra-btn::selection {
            color:#fff;
        }
    </style>
</head>
<body>


    @{
        string Slug = Model.Slug;
        string thisPage = Url.Action("Details", "Posts", new { slug = Slug });
    }

    <div class="row">
        @foreach (var com in Model.Comments)
        {
            <div class="media comments">
                <div class="media-left" style="display:inline-block">
                    <p>@com.Created.DateTime.ToLongDateString()</p>
                    <h6>Commentator: @com.Author.DisplayName</h6>
                </div>
                <div class="media-body">                  
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <form action="@Url.Action("EditComment","Posts")" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="slug" value="@Slug" />
                            <input type="hidden" name="id" value="@com.id" />
                            <input type="hidden" name="PostId" value="@Model.id" />

                            <div class="form-group" >
                                <textarea style="max-width:unset; width:100%;" name="Body" rows="2">@com.Body</textarea>
                                @*<input type="text" class="" style="width: 600px;" rows="2" value="@com.Body" name="Body">
                                @Html.ValidationMessageFor(modelComment => com.Body, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group" style="display:inline-block">
                                <button type="submit" value="Submit" class="btn btn-lg btn-skin xtra-btn" >Submit</button>
                                @Html.ActionLink("Delete","DeletePostComment", new { id = com.id, slug = @Slug },
                            new { @class= "btn btn-lg btn-skin xtra-btn", onclick = "return confirm('Are you sure you want to delete this comment?');" })

                                <!-- Modal Button-->
                                @*<span class="item-delete-button">
                                    <button class="btn btn-danger col-lg-3 col-lg-offset-3" data-toggle="modal" data-target="#@item.ID" onclick="deleteStart(this)">
                                        Delete
                                    </button>
                                </span>*@

                        
                            </div>
                        </form>  

                    }
                    else
                    {
                        <p>@com.Body</p>
                    }
                </div>
            </div>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <h5 class="margin-b-30">Leave a Comment</h5>
        <form action="@Url.Action("CreateComment","Posts")" method="post">
            @Html.AntiForgeryToken()
            
            <input type="hidden" name="PostId" value="@Model.id" />

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <label class="col-sm-2 control-label" style="display:inline-block">Comment</label>
                    <textarea class="form-control" rows="3" name="Body" style="max-width:unset;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-skin xtra-btn">Submit</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <br /><hr /><br />
        <h5 class="margin-b-30" style="text-align:center">
            To a Comment, please
            @Html.ActionLink("Log in", "Login", "Account", new { returnUrl = thisPage }, null)
        </h5>
    }

    <div class="space-80"></div>


</body>
</html>
